<h1 class="title">React-Bootstrap</h1>

<h4>
    Accordion Of Alerts
    <%= link_to '(doc)', 'https://react-bootstrap.github.io/components/accordion/' %>
</h4>
<%= react_component("react_bootstrap/AccordionOfAlerts") %>

<h4>Card Sample</h4>
<%= react_component("react_bootstrap/CardSample", img_src: image_url('products/cosmetics.png')) %>
<%= react_component("react_bootstrap/CardSample", img_src: asset_path('products/cosmetics.png')) %>

<h4>Card Alternative Sample</h4>
<%#= asset_path "products/originalScrab.png" %>
<%= react_component("react_bootstrap/CardAlternative") %>
<!--img src="<%= asset_path "products/originalScrab.png" %>"-->
