<h1 class="title">React with Advanced JS</h1>

<h2 class="lesson">39. Use Advanced JavaScript in React Render Method</h2>
<%= react_component("fcc/advanced/MagicEightBall") %>

<h2 class="lesson">40. Render with an If/Else Condition</h2>
<%= react_component("fcc/advanced/ConditionalRendering") %>

<h2 class="lesson">41. Use && for a More Concise Conditional</h2>
<%= react_component("fcc/advanced/ConciseConditional") %>

<h2 class="lesson">42. Use a Ternary Expression for Conditional Rendering</h2>
<%= react_component("fcc/advanced/CheckUserAge") %>

<h2 class="lesson">43. Render Conditionally from Props</h2>
<%= react_component("fcc/advanced/GameOfChance") %>

<h2 class="lesson">44. Change Inline CSS Conditionally Based on Component State</h2>
<%= react_component("fcc/advanced/GateKeeper") %>

<h2 class="lesson">45.Use Array.map() to Dynamically Render Elements</h2>
<%= react_component("fcc/advanced/MyToDoList") %>

<h2 class="lesson">46. Give Sibling Elements a Unique Key Attribute</h2>
<%= react_component("fcc/advanced/Frameworks") %>

<h2 class="lesson">47. Use Array.filter() to Dynamically Filter an Array</h2>
<%= react_component("fcc/advanced/MyCompo") %>

<h2 class="lesson">48. Render React on the Server with renderToString (??)</h2>
<%= react_component("fcc/advanced/App") %>
