<div class='container'>
  <h1 class="title">React Components</h1>

  <h2 class="lesson">07. Create a Stateless Functional Component</h2>
  <%= react_component("fcc/components/StatelessFunctional") %>
  <h2 class="lesson">08. Create a React Component</h2>
  <%= react_component("fcc/components/ClassComponent") %>
  <h2 class="lesson">09. Create a Component with Composition</h2>
  <%= react_component("fcc/components/ComponentCompound") %>
  <h2 class="lesson">10. Use React to Render Nested Components</h2>
  <%= react_component("fcc/components/NestedComponents") %>
  <h2 class="lesson">11. Compose React Components</h2>
  <%= react_component("fcc/components/ComposedComponents") %>
  <h2 class="lesson">12. Render Component to the DOM</h2>
  <%= react_component("fcc/components/RenderDOMComponent") %>
  <%#= react_component("fcc/components/RenderClassComponent") %>

  <div id='challenge-node'></div>
  <br/>
  <%= link_to 'Back', fcc_index_path %><br>
</div>