<h1 class="title">freeCodeCamp ReactJS Exercises</h1>
<p>Based on the <a href="https://learn.freecodecamp.org/front-end-libraries/react">Lessons</a></p>

<%= link_to 'Components',    fcc_components_path %><br>
<%= link_to 'Props',         fcc_props_path %><br>
<%= link_to 'States',        fcc_states_path %><br>
<%= link_to 'Life_Cycle',    fcc_life_cycle_path %><br>
<%= link_to 'Inline_Styles', fcc_inline_styles_path %><br>
<%= link_to 'Advanced',      fcc_advanced_path %><br>
