<h1 class="title">React Props</h1>

<h2 class="lesson">14. Pass Props to a Stateless Functional Component</h2>
<%= react_component("fcc/props/Calendar") %>

<h2 class="lesson">15. Pass an Array as Props</h2>
<%= react_component("fcc/props/ToDo") %>

<h2 class="lesson">15b. The same topic from the preliminary course</h2>
<%= react_component("fcc/props/OutfitSelector") %>

<h2 class="lesson">17. Override Default Props</h2>
<%= react_component("fcc/props/ShoppingCart") %>

<h2 class="lesson">18. Use PropTypes to Define the Props You Expect</h2>
<%= react_component("fcc/props/MoreShoppingCart") %>

<h2 class="lesson">19. Access Props Using this.props</h2>
<%= react_component("fcc/props/ResetPassword") %>

<h2 class="lesson">20. Review Using Props with Stateless Functional Components</h2>
<%= react_component("fcc/props/CampSite") %>

<br/>
<%= link_to 'Back', fcc_index_path %><br>
