<h1 class="title">React States</h1>

<h2 class="lesson">
  21. Create a Stateful Component<br>
  23. Render State in the User Interface Another Way
</h2>
<%= react_component("fcc/states/StatefulComponent") %>

<h2 class="lesson">24. Set State with this.setState</h2>
<%= react_component("fcc/states/MyComponent") %>

<h2 class="lesson">25. Bind 'this' to a Class Method</h2>
<%= react_component("fcc/states/NewComponent") %>

<h2 class="lesson">26. Use State to Toggle an Element</h2>
<%= react_component("fcc/states/NextComponent") %>

<h2 class="lesson">27. Write a Simple Counter</h2>
<%= react_component("fcc/states/Counter") %>

<h2 class="lesson">28. Create a Controlled Input</h2>
<%= react_component("fcc/states/ControlledInput") %>

<h2 class="lesson">29. Create a Controlled Form</h2>
<%= react_component("fcc/states/MyForm") %>

<h2 class="lesson">30. Pass State as Props to Child Components</h2>
<%= react_component("fcc/states/MyApp") %>

<h2 class="lesson">31. Pass a Callback as Props</h2>
<%= react_component("fcc/states/NewApp") %>
